<h1 align= center style="margin-top: -8px;">Articulos</h1>
<hr>

<% @articles.each do |article| %>
    <%= link_to article_path(article.id) do %>
        <h2 style="margin-top: -8px;"><%=  article.title%></h2>
    <% end %>
    <h4><%=  article.content%></h4>
    <span><%=  article.author%></span>
    <hr>    
<% end %>