<div id="<%= dom_id author %>">
  <p>
    <%= author.name %>
    <%= link_to 'Editar Autor', edit_author_path(author) %>
    <%= link_to 'Eliminar Autor', author_path(author), data: { turbo_method: :delete, turbo_confirm: 'Estas seguro?' } %> 
  </p>

</div>
