<%= link_to '/articles' do %>
    <h1> Mi Blog... </h1>
<% end %>    

<%= link_to 'Añadir Articulo', new_article_path %>
<span> - </span>
<%= link_to 'Ver Categorías', categories_path %>
<span> - </span>
<%= link_to 'Ver Autores', authors_path %>
